.section#sec-5(fp-title="Tiện ích")
	.imgMapCanvas.desktop
		.map-canvas
			map(name="imageMap2", id="imageMap2")
				area(shape='circle', alt='1', title=titlePosition[1-1], coords='1412, 675, 18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='1', title=titlePosition[1-1], coords='1113, 288, 18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='1', title=titlePosition[1-1], coords='405, 560, 18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='2', title=titlePosition[2-1], coords="1691, 377, 18", href='./assets/utilities/2.jpg', target='')
				area(shape='circle', alt='3', title=titlePosition[3-1], coords="514, 252, 18", href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title=titlePosition[3-1], coords="343, 506, 18", href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title=titlePosition[3-1], coords="578, 446, 18", href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title=titlePosition[3-1], coords="242, 538, 18", href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title=titlePosition[3-1], coords="969, 281, 18", href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='4', title=titlePosition[4-1], coords="1516, 610, 18", href='./assets/utilities/4.jpg', target='')
				area(shape='circle', alt='4', title=titlePosition[4-1], coords="1148, 303, 18", href='./assets/utilities/4.jpg', target='')
				area(shape='circle', alt='5', title=titlePosition[5-1], coords="1247, 628, 18", href='./assets/utilities/5.jpg', target='')
				area(shape='circle', alt='5', title=titlePosition[5-1], coords="1152, 205, 18", href='./assets/utilities/5.jpg', target='')
				area(shape='circle', alt='5', title=titlePosition[5-1], coords="600, 203, 18", href='./assets/utilities/5.jpg', target='')
				area(shape="circle", alt='6', title=titlePosition[6-1], coords="1227, 590, 18", href='./assets/utilities/6.jpg', target="")
				area(shape='circle', alt='6', title=titlePosition[6-1], coords="1211, 191, 18", href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title=titlePosition[6-1], coords="862, 364, 18", href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title=titlePosition[6-1], coords="382, 471, 18", href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title=titlePosition[6-1], coords="443, 303, 18", href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title=titlePosition[6-1], coords="641, 203, 18", href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='7', title=titlePosition[7-1], coords="1428, 368, 18", href='./assets/utilities/7.jpg', target='')
				area(shape='circle', alt='8', title=titlePosition[8-1], coords="1385, 347, 18", href='./assets/utilities/8.jpg', target='')
				area(shape='circle', alt='9', title=titlePosition[9-1], coords="1142, 435, 18", href='./assets/utilities/9.jpg', target='')
				area(shape='circle', alt='9', title=titlePosition[9-1], coords="1274, 455, 18", href='./assets/utilities/9.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='1239, 231, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='1362, 492, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='1095, 466, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='797, 251, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='775, 420, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title=titlePosition[10-1], coords='387, 368, 18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='11', title=titlePosition[11-1], coords="1206, 296 , 18", href='./assets/utilities/11.jpg', target='')
				area(shape='circle', alt='12', title=titlePosition[12-1], coords="751, 379, 18", href='./assets/utilities/12.jpg', target='')
			canvas
		.map-image
			img(src="./assets/index/i_5.jpg", usemap="#imageMap2")
	.content
		.container.utilities-title
			.title-block
				h2 Tiện ích đa dạng
				h3 Thăng hoa cuộc sống
				.btn-wrapper
					a.btn.btn-discover(href="utilities.html") Tìm hiểu thêm
	.content.mobile
		.container
			.utilities-list.row
				.col-12
					.img
						img(src="./assets/index/i_5.jpg", alt="")
				-for(let i =1; i<13; i++)
					.col-6.col-sm-4
						a(href="./assets/utilities/"+i+".jpg" data-fancybox="utilities_"+i)
							.img
								img(src="./assets/utilities/"+i+".jpg", alt="")
							.text
								h3= titlePosition[i-1]